@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Qwitcher+Grypen&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
font-family: 'Quicksand', sans-serif;
}
#topmost-heading{
    background-color: #d3d3d3;
}

#topmost-heading p{
    font-weight: 600;
    margin-left: 25px;
    text-align: center;
}
/*navbar css*/
nav{
    display: flex;
    width: 100%;
    background-color: beige;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .logo{
    font-size: 35px;
    color: red;
    font-weight: 800;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ul li{
margin: 0 2px;
}

nav ul li a{
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
color: orangered;
letter-spacing: 1px;
padding: 5px 10px;
}

nav ul li a:hover{
    color: #d3d3d3;
    transition: 0.5s;
}

nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height:100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}
nav .search_box span{
    color: orangered;
    font-size: 20px;
    background-color: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search_box span:hover{
    color: blue;
}

nav .search_box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background-color: #d3d3d3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

nav .search_box span:hover::after{
    width: 100%;
}

nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
nav .bar span{
    position: absolute;
    color: #d3d3d3;
    font-size: 35px;

}
input[type="checkbox"]{
    appearance: none;
    display: none;
}
/*megamenu css*/
.nav2 {
    background: rgb(233, 110, 10);
    width: 100%;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
}
.nav-links li:hover{
   background:orangered;
   transition: 0.3s;
   cursor: pointer;
}
.nav-links .drop-menu{
    background: rgb(233, 110, 10);;
    width: 150px;
    top:23%;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.nav-links li:hover .drop-menu{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.drop-menu li{
    list-style: none;
}
.drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}
.nav-links .drop-menu2 {
    background: rgb(233, 110, 10);
    ;
    width: 150px;
    top: 23%;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .drop-menu2 {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.drop-menu2 li {
    list-style: none;
}

.drop-menu2 li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

/*promo css*/

.promo-container{
    text-align: center;
    /* background-color: rgb(243, 243, 116); */
    padding-bottom: 30px;
    margin-bottom: 15px;
    background-image: url("./images/pexels-moose-photos-1037994.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
   
}
.promo-container div{
    padding-top: 35px;
    letter-spacing: 3px;
    font-size: xx-large;
    font-weight: 800;
    color: orangered;
}
.promo-container p{
    padding: 25px;
    letter-spacing: 2px;
    color: orangered;
    font-size: 20px;
    font-weight: 400;
}

.promo-container button{
    background: orangered;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.promo-container button:hover{
    background: rgb(255, 115, 0);
}

/*card styles*/
.card-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.card-container .box{
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.3);
}
#box1{
    background-image: url("./images/flower1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#box2 {
    background-image: url("./images/flower2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#box3 {
    background-image: url("./images/cake1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#box4 {
    background-image: url("./images/gift.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#box5 {
    background-image: url("./images/flower4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/*best seller section*/

.bestseller{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
   
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 7%;
}
.section1 div{
    letter-spacing: 3px;
    font-size: xx-large;
    font-weight: 800;
    padding: 20px 5px 5px 5px;
}
.section1 p{
    padding: 5px;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 400;
}
.bestseller button{
    position: relative;
    left: 27%;
    margin: 30px 0px;
    background: orangered;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.bestseller button:hover {
    background: rgb(255, 115, 0);
    transition: 0.3s;
}

.card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-container2 .box2 {
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 300px;
}
.box2 img{
    position: relative;
    top: -20px;
    z-index: -1;
    height: 300px;
    width: 280px;
}
.box2 p{
text-align: center;
text-transform: capitalize;
padding: 5px;
font-size: 15px;
font-weight: 400;
color: #808080;
}
.rating-container{
    margin-top: 15px;
}
.rating-container span:nth-child(6){
    margin-left: 52%;
    color: red;
}
.checked {
    color: orange;
}
.box2 button{
    width: 100%;
    border: none;
    outline: none;
    background: #d3d3d3;
    color: #393c3d;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 5px 5px 0;
    cursor: pointer;
}
.box2 button:hover{
    background: #b9c2cc;
    transition: 0.3s;
}
.delivery{
    font-size: 13px;
    text-transform: capitalize;
    padding: 10px 0;
}
.delivery span:nth-child(1){
    color: purple;
    margin-right: 27%;
}
.delivery span:nth-child(2){
    text-decoration: line-through;
    color: #808080;
}
.discount{
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    border-radius: 25px;
    padding: 3px;
    width: 23%;
    float: right;
    position: relative;
    top: 8px;
    left: -5px;
    background: green;
    color: white;
    font-weight: 600;
}
.promo-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    background-color: #fff;
  }
  .promo-container2 section:nth-child(1){
    background-image: url("./images/flowerbasket.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    width:400px;
  }
  .promo-container2 section:nth-child(2){
    text-align: center;
    padding: 5px;
  }
  #hurry{
    font-family: 'Qwitcher Grypen', cursive;
    text-transform: capitalize;
    font-size: 7rem;
    letter-spacing: 2px;
  }
  .promo-container2 section:nth-child(2) h2{
    text-transform: capitalize;
    font-size: 2rem;
    padding-bottom: 10px;
  }
  .promo-container2 section:nth-child(2) p{
    font-weight: 500;
  }
  .timer{
  display: flex;
  justify-content: center;
  padding: 10px;
  }
  .timer div{
    flex-basis: 100px;
  }
  .timer p{
    font-size: 50px;

  }
  .promo-container2 section:nth-child(2) button{
    padding: 10px 15px;
    background: orangered;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
  }
  .promo-container2 section:nth-child(2) button:hover{
    background: rgb(255, 115, 0);
    transition: 0.3s;
  }
  .services{
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }
  #price2{
    margin-left: 48%;
  }
  .promo3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    background-image: linear-gradient(to bottom, #250610, #cf8dd1);
    border-radius: 5px;
  }
  .promo3 section:nth-child(1){
    background-image: url('./images/portrait.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 730px;
    border-radius: 5px;
  }
  .promo3 section:nth-child(2){
    margin: auto 0;
    text-align: center;
    padding: 5px;
    font-style: italic;
    color: white;
    font-weight:lighter;
    width: 600px
  }
  #author{
    font-size: large;
    font-weight: 700;
    font-style: normal;
    padding: 20px;
  }
  .dot{
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width:10px;
    color: white;
    background: #fff;
    border: none;
  }
  .dot.checked{
    background: rgb(168, 231, 96);
    border: none;
  }
  .promo4{
    margin: 10px;
    border-radius: 5px;
  }
  .promo4 div:nth-child(1){
    background-image: url('./images/anniversary.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-radius: 5px;
  }
  #heading{
    text-align: center;
    text-transform: capitalize;
    color: rgb(148, 40, 40);
    font-size: 20px;
    padding: 15px 5px;
    letter-spacing: 1px;
  }
  .customer-reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
  }
  .customer-reviews .review{
    border-right: 1px solid black;
    height: 300px;
    width: 300px;
    color: #393c3d;
  }
  .customer-reviews div:nth-child(4){
    border:none;
  }
  .customer-reviews div:nth-child(1) img,
  .customer-reviews div:nth-child(2) img,
  .customer-reviews div:nth-child(3) img,
  .customer-reviews div:nth-child(4) img{
    margin-left: 35%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .customer-rating{
    margin-top: 3%;
    margin-left: 35%;
  }
  .subject{
    text-align: center;
    font-size: 15px;
    font-style: italic;
  }
  .review-content{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin: 10px;
  }
  #customer-name{
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
  }
  #location{
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
  }
.quicklinks{
    margin: 15px;
    padding: 10px;
    border: 1px solid #a79b9b;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#quicklink-head{
margin-top: 20px;
border-radius: 5px;
height: 30px;
padding: 5px 10px;
border: none;
background: orangered;
text-transform: uppercase;
font-weight: 600;
font-size: 15px;
color: #fff;
}
.quicklink-lists{
    font-size: 13px;
}
.quicklink-lists div{
    padding: 5px;
}
.footer{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: pink;
    text-transform: capitalize;
}
.footer section{
    font-size: 14px;
}
.footer section div{
    padding: 5px 0;
}
.list-head{
    font-size: 20px;
    font-weight: 600;
}


.copyright{
    text-align: center;
    letter-spacing: 1px;
    background: orangered;
    color: white;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
}

/*media queries*/
@media screen and (max-width: 1250px) {
    nav {
        display: block;
        padding: 0;
    }

    nav .logo {
        display: inline-block;
        padding: 15px 30px;
    }

    nav .search_box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav .search_box input {
        width: 90%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        background: beige;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    nav ul li {
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }

    nav ul li a {
        font-size: 28px;
        padding: 25px;
        display: block;
    }

    nav ul li:nth-child(1) {
        transform: translateX(-150px);
    }

    nav ul li:nth-child(2) {
        transform: translateX(-200px);
    }

    nav ul li:nth-child(3) {
        transform: translateX(-250px);
    }

    nav ul li:nth-child(4) {
        transform: translateX(-300px);
    }

    nav ul li:nth-child(5) {
        transform: translateX(-350px);
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }

    nav .bar #times {
        display: none;
    }

    #check:checked~nav .bar #times {
        display: block;
    }

    #check:checked~nav .bar #bars {
        display: none;
    }

    #check:checked~nav ul {
        visibility: visible;
        height: 465px;
    }

    #check:checked~nav ul li:nth-child(1),
    #check:checked~nav ul li:nth-child(2),
    #check:checked~nav ul li:nth-child(3),
    #check:checked~nav ul li:nth-child(4),
    #check:checked~nav ul li:nth-child(5) {
        transform: translateX(0);
        opacity: 1;
    }
    .nav-links .drop-menu{
        top: 17%;
    }
    .nav-links .drop-menu2{
        top: 17%;
    }
.bestseller button{
    left: 10px;
}
.customer-reviews .review {
        border: none;
    }
    .quicklinks{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
.footer{
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
}   
@media (max-width:800px){
    .nav-links {
            flex-direction: column;
            padding: 10px;
        }
    
        .nav-links .drop-menu {
            top: 21%;
        }
    
        .nav-links .drop-menu2 {
            top: 23.5%;
        }
.quicklinks {
    flex-direction: row;
    justify-content: space-around;
    }
.footer {
    flex-direction: row;
    justify-content: space-around;
}
}
@media (max-width:400px){
    .nav-links .drop-menu{
        top:23%;
    }
    .nav-links .drop-menu2{
        top:26%;
    }
}
